*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: auto;
    background-color: white;
   font-family:
}
a{
    text-decoration: none;
}
.headercontainer{
    margin-bottom: 2.8rem;
}
.headertitle{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.headerdescription{
    max-width: 570px;
    text-align: center;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.maincontainer{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(4,1fr);
}
.cardcontainer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(99, 96, 96);
    border-radius: 8px;
    overflow: hidden;

}
.imgcontainer{
    position:relative;
    overflow: hidden;
    height: 14rem;

}
.cardimage{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;

}
.cardtitlecontainer{
    display:flex;
    flex-direction: column;
    padding: 1.5rem;
}
.cardcontainer:hover .cardimage{
    transform: scale(1.2);
    transition-duration: 200ms;

}
.cardtitle{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(36, 33, 33);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}
.cardbody{
    color: rgb(36, 33, 33);
    font-size: 1rem;
}
.cardfootercontainer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: end;
}
.authorcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.authoravatarcontainer{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(92, 83, 83);
    border-radius: 50%;
    background-color: rgb(160, 156, 156);}
.authorinfocontainer{
    display: flex;
    flex-direction: column;
}
#span1{
    color: blue;
}
#span2{
    color: rgb(153, 150, 150);
}
.cardtagcontainer{
    font-size: 0.9rem;
    border: 1px solid rgb(153, 151, 151);
    border-radius: 2px;
    line-height: 1.3rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(145, 143, 143);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.body_container{
           font-family: "Montserrat", sans-serif;
}