#navlist{
    list-style:none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 15px;
}
.container{
    width:100vw;
    height:100vh;
    overflow-x: none;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navcontainer{
    width:100vw;
    background-image: radial-gradient( circle 708px at 0% 3.4%,  rgba(254,216,7,1) 14.5%, rgba(249,69,28,1) 71.8% );
    min-height: 70px;

}
#navtext{
    font-size: 2.8rem;
    color:azure;
}
nav{
    width:100%;
}
#navitems{
    display: flex;
    gap: 40px;
    
}
a{
    color: azure;
    text-decoration: none;
}
.footerbox{
    background-image: radial-gradient( circle 708px at 0% 3.4%,  rgba(254,216,7,1) 14.5%, rgba(249,69,28,1) 71.8% ); 
    color:azure;
    text-align: center;
    max-width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    padding:10px;
}
.footerbox p{
     color:azure;
     font-size: 1rem;
}
.contentbox{
    width: 70%;
    margin: auto;
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 3rem;
    box-shadow: 3px 3px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
#img1{
    height:200px;
    border-radius: 20px;
    transition: all;
    transition-duration: 2sec;
    transition-timing-function: linear;
    transition-delay: 0.4ms;
}
#img2{
    height:300px;
    width:300px;
    border-radius: 20px;
    transition: all;
    transition-duration: 3sec;
    transition-timing-function: linear;
    transition-delay: 0.4ms;
}
.leftbox{
    display:flex;
    flex-direction: column;
}
.leftbox h2{
    font-size: 2rem;
}
#img1:hover{
    transform:scale(1.1);

}
#img2:hover{
    transform: scale(1.2);
}
body{
    min-height: 100%;
    display:flex;
    flex-direction: column;

}